/* Minha paleta de cor
rgb(255, 255, 255) branco
rgb(181, 181, 181) cinza
rgb(0, 0, 0) preto
rgb(93, 26, 38) vinho
rgb(98, 110, 62) verde
*/

*{margin: 0;
padding: 0;
color: rgb(181, 181, 181);
}
body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
#header{
    background-color: rgb(93,26,38);
    height: 50px;
    width: 100%;
    position:fixed;
    z-index: 5;
}

h1{
    color:rgb(98, 110, 62);
    text-align: center;
}
p{
    color: rgb(181, 181, 181);
    margin: 20px;
}
#primeiro-paragrafo{
    position: static;
    display: inline-block;
    width: 50%;
}
#primeiro-paragrafo p{
    font-size: 120%;
    
}
#nome{
    color: rgb(255, 255, 255);
    font-size: 120%;
}
#img{
    position: relative; 
    display: inline;
    /* margin: auto; */
}
img{
    border-radius: 10%; 
    filter: grayscale(100%); 
    background-color: white;
    padding: 10px;;
}
h2{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(93,26,38);
    padding-top: 10px;
}
ul{
    margin-left: 30px;
    background-color: rgb(93,26,38);
}