/* Minha paleta de cor
rgb(255, 255, 255) branco
rgb(181, 181, 181) cinza
rgb(0, 0, 0) preto
rgb(93, 26, 38) vinho
rgb(98, 110, 62) verde
*/
body{
    background-color: rgb(143,143,143);
}
h1{
    color:rgb(98, 110, 62); 
}
p{
    color: rgb(0, 0, 0); margin: 20px;
}
#nome{
    color: rgb(255, 255, 255); font-size: 120%;
}
img{
    border-radius: 100%; filter: grayscale(100%) ;
}